<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="contact.firstName" required>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="contact.lastName" required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="contact.address" required>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="contact.city" required>
  </div>
  <div class="form-group">
    <label for="zip">ZIP</label>
    <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="contact.zip" required>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="contact.country" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="contact.email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="contact.phone" required>
  </div>
  <div class="form-group">
    <label for="note">Note</label>
    <textarea class="form-control" id="note" name="note" [(ngModel)]="contact.note"></textarea>
  </div>
  Avatar
  <input #fileInput type="file"/>
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>
