<img [hidden]="contact.avatar == ''" src="{{ contact.avatar }}" class="avatar"/>
<p>First Name: {{ contact.firstName }}</p>
<p>Last Name: {{ contact.lastName }}</p>
<p>Address: {{ contact.address }}</p>
<p>City: {{ contact.city }}</p>
<p>ZIP: {{ contact.zip }}</p>
<p>Country: {{ contact.country }}</p>
<p>Email: {{ contact.email }}</p>
<p>Phone: {{ contact.phone }}</p>
<p>Note: {{ contact.note }}</p>
<button [ngClass]="{'btn': true, 'btn-warning': true, 'active': showForm}" (click)="toggleUpdateForm()">Edit</button>
<button class="btn btn-danger" (click)="delete(contact.id)">Delete</button>
<contact-form [hidden]="!showForm" [contact]="inputContact" (formSubmitted)="edit($event)"></contact-form>
