<contact-form [hidden]="!showForm" [contact]="inputContact" (formSubmitted)="new($event)"></contact-form>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let contact of contacts">
    <a routerLink="/contact/{{ contact.id }}" routerLinkActive="active">{{ contact.lastName }}, {{ contact.firstName }}</a>
  </li>
</ul>
<button [ngClass]="{'btn': true, 'btn-success': true, 'active': showForm}" (click)="showForm = !showForm">+</button>
<button class="btn btn-primary" (click)="prevPage()"><</button>
<button class="btn btn-primary" (click)="nextPage()">></button>
