<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="firstName" [(ngModel)]="group.name" required>
  </div>
  <div *ngFor="let contact of group.contacts">
    <p>{{ contact.firstName }}, {{ contact.lastName }}</p>
    <button class="btn btn-danger" (click)="kickContact(contact.id)">Kick out</button>
  </div>
  <input type="text" class="form-control" (change)="searchForContacts($event)" placeholder="user search"/>
  <p *ngFor="let contact of searchContacts" (click)="addContact(contact)">{{ contact.firstName }}, {{ contact.lastName }} [{{ contact.id }}]</p>
  <button class="btn btn-primary" type="submit" class="btn btn-default" (click)="submit()">Submit</button>
</form>
