<p>Name: {{ group.name }}</p>
<div *ngFor="let contact of group.contacts">
  <p>{{ contact.firstName }}, {{ contact.lastName }}</p>
</div>
<button [ngClass]="{'btn': true, 'btn-warning': true, 'active': showForm}" (click)="toggleUpdateForm()">Edit</button>
<button class="btn btn-danger" (click)="delete(group.id)">Delete</button>
<group-form [hidden]="!showForm" [group]="inputGroup" (formSubmitted)="edit($event)"></group-form>
