<group-form [hidden]="!showForm" [group]="inputGroup" (formSubmitted)="new($event)"></group-form>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let group of groups">
    <a routerLink="/group/{{ group.id }}" routerLinkActive="active">{{ group.name }}</a>
  </li>
</ul>
<button [ngClass]="{'btn': true, 'btn-success': true, 'active': showForm}" (click)="showForm = !showForm">+</button>
<button class="btn btn-primary" (click)="prevPage()"><</button>
<button class="btn btn-primary" (click)="nextPage()">></button>
